* {
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;

}

/*----------HEADER-------------*/
header {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: black;
}

/*----------NAV-------------*/
.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: purple;
    color: white;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/*----------REPERTORIO Y CARD-------------*/

.welcome {
    background-color: aqua;
    height: 400px;
    display: flex;
}

.welcomeh1 {
    padding-top: 40px;
    text-align: center;
    justify-content: center;
    font-size: 80px;
}

.title {
    text-align: center;
    justify-content: center;
    font-size: 40px;
    padding-top: 40px;
    color: black;
}

.card-text {
    justify-content: center;
    text-align: center;
}

.card-right {
    float: right;
}

/*----------SOBRE NOSOTROS-------------*/
.sobrenosotros {
    background-color: violet;
    display: flex;
}

.text-h3 {
    padding-top: 40px;
    color: black;
    justify-content: center;
    text-align: center;

}

.text-nosotros {
    color: black;

    font-size: 20px;
}

.row-integrantes {
    justify-content: center;
}

.col-3 {
    display: flex;
}

.integrsntes-img {
    display: flex;
    border-radius: 50%;
    margin-top: 40px;

}

/*----------FOOTER-------------*/
.legal {
    display: flex;
    font-size: 18px;
    text-decoration: none;
    list-style: none;
    margin-top: 10px;
    flex-wrap: wrap;

}

.legall {
    display: flex;
    background-color: #1f1414;
    display: flex;

}

.RedesSociales {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
}

.enlaces-redes {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

@media screen and (max-width: 600px) {
    .legal {
        text-align: center;
        justify-content: center;

    }

    .legall {
        text-align: center;
        justify-content: center;

    }
}


form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
}